*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Syne, Arial, Helvetica, sans-serif;
  background: rgb(0, 10, 0);
}
button{
  color: white;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #d1e5;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 8px;
}